body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: solid 2px black;
  box-shadow: 10px 5px 5px black;
  min-width: 350px;
}

a {
  color: #00B7FF;
}

p {
  display: flex;
  flex-direction: column;
}

span {
  font-weight: 500;
  font-style: italic;
  font-size: xx-large;
}

.actions-buttons-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
