<%- include ../layouts/header.ejs %>
<p>Zalogowano: <span><%=username%></span></p>
<div class="page-data">
  <form method="POST">
    <p><label>Tytuł</label> <input required type="text" name="tytul"></p>
    <p><label>Reżyser</label> <input required type="text" name="rezyser"></p>
    <p><label>Średnia ocena</label> <input required type="number" min="1" max="5" name="srednia_ocena"></p>
    <p><label>Gatunek</label> <input required type="text" name="gatunek"></p>

    <button style="margin: 5px;" type="submit">Zapisz</button>
    <button style="margin: 5px;" type="button" onclick="movies()">Anuluj</button>

  </form>

</div>

<%- include ../layouts/footer.ejs %>